.label {
    position: relative;

    display: inline-block;

	max-width: 450px;
}

.dropdown {
	position: relative;
	user-select: none;

	display: inline-flex;

	width: 9.5rem;

	padding: .2rem .4rem;

	background-color: var(--contrast-color-active);
}

.dropdown * {
	color: var(--contrast-text-color);
	font-size: .9rem;
	font-weight: 500;
}

.dropdown__buttonContainer {
	width: 100%	;
}

.dropdown__buttonContainer > span {
	float: left;
}

.button {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	float: right;

	cursor: pointer;

	width: 100%;

	border: none;
	padding: 0 .2rem;

	background-color: var(--contrast-color-active);

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	text-align: left;
}

.button__label {
	max-width: 150px;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.button__icon {
	text-align: right;
}
.button__icon::after {
	content: " ▲";
}
.button__icon::after {
	content: " ▼";
}

.dropdown__content {
	position: absolute;
	top: 97%;
	left: 0;
	right: 0;
	z-index: 10;

	max-height: 170px;
	overflow-y: scroll;

	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.4);
	border-radius: 0 0 5px 5px;
	
    background-color: var(--contrast-color-active);

	text-align: left;
}

.dropdown__option {
	width: 100%;

	cursor: pointer;

	border-bottom: 1px solid var(--text-color);
	padding: .2rem;
}
.dropdown__option:hover {
	background-color: var(--contrast-color-hover);
}
.dropdown__option:last-child {
	border-bottom: none;
}

.errorDropdown {
    border-color: red;
}
.errorDropdown:hover {
    border-color: red;
}
.errorDropdown:focus-within {
    border-color: red;
}

.errorMessage {
    color: red;
    font-size: .8rem;
    letter-spacing: .05rem;
}
