.label {
    position: relative;

    display: inline-block;

    width: 100%;
    max-width: 450px;
}

.input {
    width: 100%;
    max-width: 450px;

    outline: none;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    padding: .2rem 1rem;

    background-color: transparent;

    font-size: .95em;

    transition: border-color .1s ease;
}
.input:hover {
    border-color: rgb(64, 75, 87);
}
.input:focus-within {
    border-color: rgb(1, 148, 185);
}

.errorInput {
    border-color: red;
}
.errorInput:hover {
    border-color: red;
}
.errorInput:focus-within {
    border-color: red;
}

.errorMessage {
    color: red;
    font-size: .8rem;
    letter-spacing: .05rem;
}