/* Shared styles */
:where(.feature, .search, .information, .cta) > h2{
	margin-bottom: .8rem;

	font-size: clamp(1.6rem, min(5vw, 5vh), 1.8rem);
	font-weight: 500;
}

:where(.feature, .search, .information, .cta) > p {color: var(--alt-text-color);}

.cardsContainer {
	margin-top: 5rem;
}

.card {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	min-height: 200px;
	width: clamp(130px, 50vw, 200px);

	padding: 1.5rem .5rem;
	border-radius: 15px;

	text-align: center;
}

.card__icon svg{
	margin-bottom: 1.5rem;

	font-size: 3.5rem;
}

.card__icon svg > * {
	color: white;
}

.card__text {
	max-width: 80%;

	margin-inline: auto;

	font-size: 1.1rem;
	font-weight: 500;
	font-synthesis: initial;
	color: white;
	line-height: 1.3rem;
}


/* Header */
.header {
	min-height: 92vh;

	padding-inline: 1rem;
	padding-top: 8vh;
	padding-bottom: 10vh;

	background-color: var(--surface-color);
}

.header .imageContainer {
	width: 100%;

	text-align: center;
}

.header img {
	width: clamp(300px, 90%, 400px);
	height: auto;
}

.header h1, .header h2 {
	color: white;
	text-align: center;
}

.header h1 {
	margin-bottom: .5rem;
}

.header h1 > span {
	color: var(--accent-color);
	font-size: inherit;
	line-height: inherit;
}

.header h2 {
	color: #dedede;
	font-size: clamp(1rem, min(2vw, 2vh), 1.2rem);

}

.header .linkButtonContainer {
	text-align: center;
}


/* Features section */
.features {
	background-color: hsl(258, 100%, 63%);

	text-align: center;
}

.features > h2 {
	margin-bottom: 5rem;

	color: white;
}

.feature {
	min-height: 50vh;
	width: calc(100% + 2rem);

	margin-left: -1rem;
	padding: 3rem 1rem;

	text-align: center;
}

.feature:last-child {
	margin-bottom: -3rem;
	padding-bottom: 5rem;
}

.feature > * {
	max-width: 80%;
	margin-inline: auto;
}

.feature .card {
	width: clamp(130px, 70vw, 250px);
}

.feature__desc {
	font-weight: 500;
	font-size: 1.1rem;
	color: white;
}

.feature__line {
	width: 100%;

	margin-top: .5rem;
	margin-bottom: 2rem;
	border: 1px solid;
}

.featureAdd {background-color: hsl(258, 100%, 63%);}
.featureAdd .card {background-color: hsl(258, 100%, 43%);}
.featureAdd .feature__line {border-color: hsl(258, 100%, 33%);}

.featureRemove {background-color: hsl(347, 72%, 54%);}
.featureRemove .card {background-color: hsl(347, 72%, 44%);}
.featureRemove .feature__line {border-color: hsl(347, 72%, 34%);}

.featureUpdate {background-color: hsl(313, 77%, 59%);}
.featureUpdate .card {background-color: hsl(313, 77%, 49%);}
.featureUpdate .feature__line {border-color: hsl(313, 77%, 39%);}


/* Search section */
.searchCardsWrapper {
	position: relative;

	height: 650px;
	width: calc(100% + 2rem);

	margin-left: -1rem;
	margin-top: 5rem;
}

.search .cardsContainer {
	position: relative;
	top: 50%;
	left: 50%;
	z-index: 20;

	max-height: 410px;
	width: calc(147px + clamp(130px, 50vw, 250px));

	transform: translate(-50%, -50%);
}

.alfaList {
	background-color: hsl(347, 72%, 44%);
}
.numericList {
	top: -120px;
	left: 147px;

	background-color: hsl(313, 77%, 49%);
}
.readList {
	top: -190px;
	left: 65px;

	background-color: hsl(258, 100%, 43%);
}

.card__linesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

}

.linesContainer__line {
	height: 2px;
	width: 70%;

	background-color: white;
}

.shapesContainer {
	position: absolute;
	top: 0;
	left: 0;

	width: clamp(360px, 100%, 550px);
	height: 650px;

	margin-left: calc((100% - clamp(360px, 100%, 550px)) / 2);
}

.shape {
	position: absolute;

	display: inline-block;

	height: 60px;
	width: 60px;
}

.shape.circle {
	border-radius: 100%;

	background-color: hsl(347, 72%, 64%);
}
.shape.square {
	border-radius: 5px;

	background-color: hsl(313, 77%, 69%);
}
.shape.triangle {
	border-top: 40px solid transparent;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: calc(2 * 40px * 0.886) solid hsl(258, 100%, 63%);

	background-color: transparent;
}

/* Squares */
.shape:nth-child(1) {top: 37%; left: 81%;}
.shape:nth-child(2) {top: 6%; left: 52%; transform: scale(1.3);}
.shape:nth-child(3) {top: 75%; left: 46%; transform: scale(1.2);}
.shape:nth-child(4) {top: 82%; left: 90%;}
.shape:nth-child(5) {top: 14%; left: 2%;}
.shape:nth-child(6) {top: 63%; left: -5%;}

/* Circles */
.shape:nth-child(7) {top: 51%; left: 11%; transform: scale(1.2);}
.shape:nth-child(8) {top: 87%; left: 60%; transform: scale(1.3);}
.shape:nth-child(9) {top: 16%; left: 79%; transform: scale(1.2);}
.shape:nth-child(10) {top: 73%; left: 1%;}
.shape:nth-child(11) {top: 51%; left: 93%; transform: scale(1.4);}
.shape:nth-child(12) {top: 26%; left: 28%; transform: scale(.9);}

/* Triangles */
.shape:nth-child(13) {top: 24%; left: -5%;}
.shape:nth-child(14) {top: -6%; left: 21%;}
.shape:nth-child(15) {top: 14%; left: 53%;}
.shape:nth-child(16) {top: 73%; left: 22%;}
.shape:nth-child(17) {top: 36%; left: 44%; transform: scale(1.3);}
.shape:nth-child(18) {top: 55%; left: 70%; transform: scale(1.1);}


/* Information section */
.information > h2,
.information > p {
	text-align: right;
}

.abandonedBooks {
	left: 120px;

	background-color: hsl(347, 72%, 44%);
}
.readBooks {
	top: -112px;

	background-color: hsl(258, 100%, 43%);
}
.unreadBooks {
	top: -180px;
	left: 140px;

	background-color: hsl(313, 77%, 49%);
}

.information .card__number {
	font-size: 3rem;
	color: white;
	font-weight: bold;
}


/* CTA section */
.cta {
	background-color: var(--surface-color);

	text-align: center;
}

.cta h2 {

	font-size: clamp(2.4rem, min(10vw, 10vh), 3rem);
	font-weight: bold;
	color: white;
}

.cta p {
	color: lightgray;
}