.header {
	min-height: 92vh;

	padding-inline: 1rem;
	padding-top: 8vh;

	background-color: var(--surface-color);
}

.header .imageContainer {
	width: 100%;

	text-align: center;
}

.header img {
	width: clamp(300px, 90%, 400px);
}

.header h1, h2 {
	color: white;
	text-align: center;
}

.header h1 {
	margin-bottom: .5rem;
}

.header h1 > span {
	color: var(--accent-color);
	font-size: inherit;
	line-height: inherit;
}

.header h2 {
	color: #dedede;
	font-size: clamp(1rem, min(2vw, 2vh), 1.2rem);

}

.linkButtonContainer {
	margin-top: 3rem;

	text-align: center;
}