.tableContainer {
    clip-path: inset(0px round 10px);
    overflow: auto;

    width: calc(100% + .5rem);
    height: 20rem;

}

.table {
    position: relative;
    overflow: hidden;
    table-layout: fixed;

    border-collapse: collapse;
    border-radius: 10px;

    background-color: var(--alt-background-color);
}

.table__head {
    position: sticky;
    top: 0;
}

.table__head th,
.table__body td {
    width: 180px;
    min-width: 180px;
    max-width: 180px;

    padding: .3rem .6rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table__head th {
    text-align: left;
    border-right: 1px solid var(--alt-background-color);

    background-color: var(--contrast-color);

    color: var(--background-color);
}
.table__head th:last-child {
    border-right: none;
    border-top-right-radius: 10px;
}
.table__head th:first-child {
    border-top-left-radius: 10px;
}

.table__body tr {
    cursor: pointer;

    border-bottom: 1px solid var(--contrast-color);
}
.table__body tr:nth-last-child(2) {
    border-bottom: none;
}

.table__emptyRow {
    height: 100%;

    border-bottom: none !important;
    cursor: auto !important;

    background-color: var(--alt-background-color);
}