.app-wrapper {
	display: grid;
	grid-template-areas: 
		"header"
		"main"
		"footer"
	;

	grid-template-rows: auto;

}

header {
	grid-area: header;
}

main {
	grid-area: main;

	min-height: 82dvh;
}

footer {
	grid-area: footer;
}