.infoCard {
	position: relative;

	width: clamp(150px, 100%, 450px);

	border-radius: 15px;
	padding: .5rem;

	background-color: var(--alt-background-color);
}

.bigger {
	width: clamp(300px, 100%, 600px);
}
