.linkContainer {
	display: inline-block;


	text-decoration: none;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	padding: .3rem .8rem;
	border: 2px solid;
	border-radius: 25px;

	color: white;
	font-size: .9rem;
	font-weight: 400;
	letter-spacing: .05rem;

	transition: .2s ease-in-out;
}
.button:hover {
	color: #ededed;

	transform: scale(1.03);
}
.button:active {
	color: #ddd;

	transform: scale(1.01);
}

.accent {
	border-color: var(--accent-color);

	background-color: var(--accent-color);
}
.accent:hover {
	border-color: var(--accent-color-hover);

	background-color: var(--accent-color-hover);
}
.accent:active {
	border-color: var(--accent-color-active);

	background-color: var(--accent-color-active);
}

.surface {
	border-color: var(--surface-color);

	background-color: var(--surface-color);
}
.surface:hover {
	border-color: var(--surface-color-hover);

	background-color: var(--surface-color-hover);
}
.surface:active {
	border-color: var(--surface-color-active);

	background-color: var(--surface-color-active);
}

.onlyStroke {
	background-color: transparent;

	font-weight: 500;
}
.onlyStroke.accent {
	color: var(--accent-color);
}
.onlyStroke.surface {
	color: var(--surface-color);
}

.important {
	padding: .4rem .9rem;


	font-size: 1.2rem;
}