.errorSection {
    min-height: 82vh;
    max-height: 82vh;

    max-width: 500px;
    margin-inline: auto;

    text-align: center;
}

.errorSection__icon * {
    font-size: 5rem;
}

.errorSection h1 {
    font-size: 2.1rem;
}

.errorSection h2 {
    margin-top: 0;
    margin-bottom: 2rem;
}

.errorSection__goBack {
    margin-top: 2rem;
}

.errorSection__goBack p {
    margin-bottom: 1rem;
}