.error {
    min-height: 82vh;
    max-height: 82vh;

    max-width: 500px;
    margin-inline: auto;

    text-align: center;
}

.error__icon * {
    font-size: 5rem;
}

.error h1 {
    font-size: 2.1rem;
}

.error h2 {
    margin-top: 0;
    margin-bottom: 2rem;
}

.error__goBack {
    margin-top: 2rem;
}

.error__goBack p {
    margin-bottom: 1rem;
}